<div class="main">

  <h1><%- Name %></h1>

  <div class="info-container">
    <p><span class="part-title">Professional Field:</span><span class="part-info"> <%- Field %></span></p>
    <p><span class="part-title">Age in 2017:</span><span class="part-info">  <%- Ages %></span></p>
    <p><span class="part-title">Resolution blurb:</span><span class="part-info">  <%- Resolution %></span></p>
  </div>

<div class="month-container">

  <ul>
    <li class="jan underline">January</li>
    <li class="feb">February</li>
    <li class="mar">March</li>
    <li class="apr">April</li>
    <li class="may">May</li>
    <li class="jun">June</li>
    <li class="jul">July</li>
    <li class="aug">August</li>
    <li class="sep">September</li>
    <li class="oct">October</li>
    <li class="nov">November</li>
    <li class="dec">December</li>
  </ul>

    <%# -- January -- %>
    <div class="jan-container">

      <h3><%- Beginning1 %></h3>
      <p><%- January1 %></p>

      <h3><%- Beginning2 %></h3>
      <p><%- January2 %></p>

      <h3><%- Beginning3 %></h3>
      <p><%- January3 %></p>
    </div>

    <%# -- Feburary -- %>
    <div class="feb-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- February1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- February2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- February3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- February4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- February5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- February6 %></p>
    </div>

    <%# -- March -- %>
    <div class="mar-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- March2 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- March2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- March3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- March4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- March5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- March6 %></p>
    </div>

    <%# -- April -- %>
    <div class="apr-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- April1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- April2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- April3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- April4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- April5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- April6 %></p>
    </div>

    <%# -- May -- %>
    <div class="may-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- May1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- May2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- May3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- May4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- May5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- May6 %></p>
    </div>

    <%# -- June -- %>
    <div class="jun-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- June1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- June2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- June3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- June4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- June5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- June6 %></p>
    </div>

    <%# -- July -- %>
    <div class="jul-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- July1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- July2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- July3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- July4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- July5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- July6 %></p>
    </div>

    <%# -- August -- %>
    <div class="aug-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- August1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- August2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- August3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- August4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- August5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- August6 %></p>
    </div>

    <%# -- September -- %>
    <div class="sep-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- September1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- September2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- September3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- September4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- September5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- September6 %></p>
    </div>

    <%# -- October -- %>
    <div class="oct-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- October1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- October2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- October3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- October4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- October5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- October6 %></p>
    </div>

    <%# -- November -- %>
    <div class="nov-container hide">

      <h3><%- Middle1 %></h3>
      <p><%- November1 %></p>

      <h3><%- Middle2 %></h3>
      <p><%- November2 %></p>

      <h3><%- Middle3 %></h3>
      <p><%- November3 %></p>

      <h3><%- Middle4 %></h3>
      <p><%- November4 %></p>

      <h3><%- Middle5 %></h3>
      <p><%- November5 %></p>

      <h3><%- Middle6 %></h3>
      <p><%- November6 %></p>
    </div>

    <%# -- December -- %>
    <div class="dec-container hide">

      <h3><%- End1 %></h3>
      <p><%- December1 %></p>

      <h3><%- End2 %></h3>
      <p><%- December2 %></p>

      <h3><%- End3 %></h3>
      <p><%- December3 %></p>

      <h3><%- End4 %></h3>
      <p><%- December4 %></p>

      <h3><%- End5 %></h3>
      <p><%- December5 %></p>
    </div>

  </div>

</div>
